:root {
    --primary-color: #511B55;
    --secondary-color: #C39BD3;
    --accent-color: #FFFFFF;
    --highlight-color: #D4AF37;
    font-family: Roboto, sans-serif;
}

body {
    background-color: var(--primary-color);
    color: var(--accent-color); 
  /* background-image: url('assets/texture.webp');
  background-blend-mode: multiply; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* Optional: if you want a parallax-like effect */
  margin: 0; /* to remove default body margin */
  height: 100%; /* ensures it covers the full view height */
}

.btn-highlight {
    background-color: var(--highlight-color);
    color: var(--primary-color);
    width: 100%;
}

.banner, .info {
    display: flex;
    justify-content: center;
}

.banner__img {
    max-width: 100%;
    height: auto;
}

.main__img, .info__img {
    width: 600px;
    height: auto;
}

.main__img {
    padding: 1rem;
}

.main, .dates {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 992px) {
    .main, .dates {
        flex-direction: column;
    }
    .main__img, .info__img {
        max-width: 100%;
        height: auto;
    }

    #form  {
        * {
            width: 100%;
        }
    }
}
